:root {
    --primary-background: #FFFFFF;
    --accent-colour: #4D5AE5;
    --accent-btn: #404BBF;
    --primary-text-colour: #434455;
    --white-text: #ffffff;
    --title-colour: #2E2F42;
    --footer-text: #E7E9FC;
    --footer-logo: #F4F4FD;
    --icon-costumers-fill: #8E8F99;
    --accent-social-footer: #31D0AA;
    --modal-background: #FCFCFC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    /* width: 100%; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-colour);
    background: var(--primary-background);
    overflow-x: hidden;
}

img {
    display: block;
}


.link {
    text-decoration: none;
}


.list {
    list-style: none;
}

/**------------Header ------------------*/
.header {
   
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
        padding-bottom: 24px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-colour)
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    }

.menu-open-icon {
    width: 32px;
    height: 22px;
    stroke: #2E2F42;
}

.first-logo {
    color: var(--title-colour);
}

.header-list {
    display: none;
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background);
    top: 0;
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-right: 24px; 
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu-close-btn {
    background: var(--footer-text);
    border: 1px solid var(--title-colour);
    padding: 8px;
    display: flex;
    margin-left: auto;
    border-radius: 50%;
    margin-bottom: 32px;
}

.menu-close-icon {
    fill: var(--title-colour);
    width: 8px;
    height: 8px;
}


.mob-menu-list {
margin-bottom: 40px;
}


.mob-menu-list-item.mob-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-colour); 
}

.mob-menu-link-contact.tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-colour);
}

.mob-menu-link-contact.mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
    margin-bottom: 0;
}

.social-list.mob {
    margin-top: 48px;
    justify-content: space-between;
}

.curent {
    color: var(--accent-colour);
}


/**------------About ------------------*/

.about-title {
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--white-text);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom: 72px;

}

/* .about-title {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-text);
    text-transform: capitalize;
} */

.about {
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
    background: var(--title-colour);
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile-bg.jpg');
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .about {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile-bg2x.jpg');
    }
}

.btn-primary {
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    border: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-primary {
    color: var(--white-text);
    background: var(--accent-colour);
}



/* *-----------Advantages------------- */

.icon-list-item {
    display: none;
}

.advantages-container {
    margin: 0 auto;
}

.section-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-colour);
margin-bottom: 8px;
}

.section-text {
 font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-colour);
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
   
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}


/**-----------Our team -------------*/

.section-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--footer-logo);
}

.section-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-colour);
    margin-bottom: 72px;
}

.section-subtitle.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-colour);
}

.section-list.team {
    justify-content: center;
    align-items: center;
}

.img-team {
    width: 100%;
}


.section-list .team-item {
    background: var(--primary-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-wrapper .section-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: var(--footer-logo);
    width: 16px;
    height: 16px;
}



/**-----------Customers----------------*/

.container.customers {
    margin: 0 auto;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    
}

.customers-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 88px;
    flex-basis: calc((100% - 16px) / 2);
}

.customers-list-icon {
    display: flex;
    width: 104px;
    height: 56px;
    fill: var(--icon-costumers-fill);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--icon-costumers-fill);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**------------Footer-----------------*/

.section-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--title-colour);
}

.logo-container {
    margin-bottom: 72px;
}

.logo-container .header-logo {
    justify-content: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 16px;
}

.footer-first-logo {
    color: var(--footer-logo);
}

.footer-text {
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.02em;
    color: var(--footer-logo);
    width: 268px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-text);
    margin-bottom: 16px;
    text-align: center;
}

.social-container {
    margin-bottom: 72px;
}

.social-list-icon.footer {
    width: 24px;
    height: 24px;
}

.social-list-link.footer {
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-text);
    text-align: center;
    margin-bottom: 16px;
}

.footer-form-input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    background: var(--title-colour);
    color: var(--white-text);
    border: 1px solid var(--icon-costumers-fill);
    border-radius: 4px;
    margin-bottom: 16px;
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.modal-form-submit.footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-text);
}

.btn-wrap-footer {
    justify-content: center;
        margin-left:  auto;
        margin-right:  auto;
}

.modal-form-submit.footer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    width: 165px;
    height: 40px;
    background: var(--accent-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: transparent;
}

.footer-btn-send-icon {
    width: 24px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    fill: var(--white-text);
}

/**------------Portfolio------------------*/

.section.portfolio {
    padding-top: 96px;
}

.section-list.navigation {
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}


.btn-secondary {
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-colour);
    background: var(--footer-logo);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: var(--accent-btn);
    color: var(--white-text);
}


/**------------Gallery------------------*/

.nav-btn-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 48px / 3));
    row-gap: 48px;
    column-gap: 24px;
}

.img-btn {
    width: 360px;
    height: 300px;
}

.gallery-descr-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.gallery-link {
    display: block;
}

.team-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery-link:hover .secondary-text,
.gallery-link:focus .secondary-text {
    transform: translate(0, 0);
}

.gallery-list-item:hover,
.gallery-list-item:focus {
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-list-item .section-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-colour);
}

.secondary-text {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 164px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* width: 100%;
    height: 100%; */

    /* max-width: 296px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--footer-logo);
    background: var(--accent-colour);
}


/**------------Madal backdrop------------------*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
}

.modal-close-btn {
    width: 8px;
    height: 8px;
}

.modal-close:hover .modal-close-btn,
.modal-close:focus .modal-close-btn {
    fill: var(--white-text);
}



.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-close {
    display: flex;
    margin-left: auto;
    background: #E7E9FC;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--accent-btn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

/**------------Madal-contact-input------------------*/

.modal-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-colour);
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
    color: var(--title-colour);
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input:focus {
    border-color: var(--accent-colour);
    outline: none;
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--accent-colour);
}

.modal-form-input:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-input-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-costumers-fill);
    margin-bottom: 4px;
}

/**------------Madal textarea------------------*/

.modal-form-message {
    resize: none;
    /* width: 100%;
    height: 100%; */
    width: 360px;
    min-height: 120px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}

.modal-form-message:focus {
    border-color: var(--accent-colour);
    outline: none;
}

.modal-form-message:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/**------------checkbox------------------*/

.modal-form-check-desc::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-form-check:checked+.modal-form-check-desc::before {
    background-color: var(--accent-btn);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 2px solid var(--accent-btn);

}

.modal-form-check:hover+.modal-form-check-desc::before {
    transition: border-colour cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-costumers-fill);
    /* padding: 0; */
}

.user-policy-link {
    color: var(--accent-colour);
}

.user-policy-link:hover,
.user-policy-link:focus {
    color: var(--accent-btn);
} 

.modal-form-submit {
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    align-self: center;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-submit {
    color: var(--white-text);
    background: var(--accent-colour);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background: var(--accent-btn)
}